body {
    background: #ece0ee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

/*.contactForm select{
    background: -webkit-linear-gradient(45deg, #72477a, #6d1356);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}*/

.alert{
    width: 100%;
    background: rgb(213, 152, 225);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}

#sub {
    border-radius: 13px;
}

#sub:hover {
    opacity: 0.8;
}
